/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.woff2") format("woff2"), url("../fonts/poppins-v20-latin-300.woff") format("woff");
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff");
}
/* poppins-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff");
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff");
}
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "poppins";
  font-weight: 400;
}

img {
  display: block;
  height: auto;
}

.container {
  max-width: 980px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header-site {
  padding-top: 50px;
}

.header-site__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.hero {
  padding-top: 110px;
  background-image: url("../../images/hero-img.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 333px) calc(50% + 25px);
}

.hero__wrapper {
  width: 550px;
}

.hero__title {
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 74px;
  /* 115.625% */
  letter-spacing: 0.56px;
  color: #1F3F68;
  margin: 0;
  margin-bottom: 32px;
}

.hero__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.8px;
  margin: 0;
  margin-bottom: 86px;
  padding-right: 50px;
}

.hero__link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  padding: 15px 48px;
  letter-spacing: 0.64px;
  border-radius: 10px;
  color: #fff;
  background-color: #5A98D0;
  box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.2);
  text-decoration: none;
}

.client {
  padding-top: 180px;
  padding-bottom: 180px;
}

.client__title {
  display: inline-block;
  width: 470px;
  color: #316099;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px;
  /* 127.778% */
  letter-spacing: 1.8px;
  margin-top: 0;
  margin-bottom: 158px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.client__list {
  list-style: none;
  width: 380px;
}

.client__item {
  width: 380px;
  border-radius: 10px;
  background: #FFF;
  /* shadow1 */
  box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
  margin-bottom: 100px;
  padding: 48px;
}

.client__item-wrapper {
  width: 380px;
  border-radius: 10px;
  background: #FFF;
  /* shadow1 */
  box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
  margin-bottom: 100px;
  margin-left: auto;
  padding: 48px;
}

.client__img {
  width: 182px;
  height: 132px;
  margin-bottom: 56px;
  padding-left: 26px;
}

.client__item-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 150% */
  letter-spacing: 1px;
  color: #1F3F68;
  margin: 0;
  margin-bottom: 16px;
}

.client__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.8px;
  margin: 0;
  margin-bottom: 32px;
  color: #1F3F68;
}

.client__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 214.286% */
  letter-spacing: 0.7px;
  color: #5A98D0;
  text-decoration: none;
}
.client__link::after {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../../images/icon-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 24px;
  content: "";
}

main {
  flex-grow: 1;
}

.our__wrapper-top {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.our__title {
  width: 255px;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px;
  /* 127.778% */
  letter-spacing: 1.8px;
  margin: 0;
}

.our__text {
  width: 540px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.8px;
  margin: 0;
  margin-left: 93px;
}

.our__wrapper-center {
  width: 935px;
  height: 424px;
  margin-bottom: 90px;
  border-radius: 10px;
  background-image: url("../../images/our-bgtop.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px;
}

.our__center-title {
  font-size: 28px;
  text-align: end;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
  /* 164.286% */
  letter-spacing: 1.4px;
  color: #fff;
  margin: 0;
  margin-bottom: 7px;
}

.our__center__text {
  font-size: 16px;
  text-align: end;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  /* 287.5% */
  letter-spacing: 0.8px;
  color: #fff;
  margin: 0;
}

.our__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.our__item {
  width: 422px;
  height: 417px;
  background-image: url("../../images/uor-bgleft.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 32px;
}

.our__item:nth-child(2) {
  background-image: url("../../images/uor-bgright.png");
}

.our__item-title {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
  /* 164.286% */
  letter-spacing: 1.4px;
  color: #fff;
  margin: 0;
}

.our__item-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  /* 287.5% */
  letter-spacing: 0.8px;
  color: #fff;
  margin: 0;
}

.bg-wrapper {
  background-color: #5A98D0;
  border-radius: 200px 0 0 0;
  margin-top: 200px;
  padding-top: 96px;
}

.tit-color {
  color: #fff;
}

.beloved__list {
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.list--border {
  border-bottom: 1px solid #fff;
}

.beloved__item {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  /* 230% */
  letter-spacing: 0.4px;
  padding: 41px 42px 42px 46px;
  color: #fff;
}
.beloved__item:not(:last-child) {
  border-right: 1px solid #fff;
}
.beloved__item:hover {
  background-color: #4E86BB;
}

.footer-site {
  border-radius: 0 200px 0 0;
  background-color: #316099;
  padding-top: 91px;
  padding-bottom: 64px;
  margin-right: 100px;
  margin-top: 125px;
}

.footer-site__wrapper-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 96px;
}

.footer-site__title-wrapper {
  width: 460px;
}

.footer-site__top-text {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px;
  /* 127.778% */
  letter-spacing: 1.8px;
  color: #fff;
  margin: 0;
  margin-bottom: 32px;
  padding-right: 50px;
}

.footer-site__end-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.8px;
  color: #fff;
  margin: 0;
}

.footer-site__top-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.64px;
  padding: 15px 74px;
  border-radius: 10px;
  background: #5A98D0;
  text-decoration: none;
  color: #fff;
}

.footer-site__wrapper-bottom {
  display: flex;
  align-items: flex-start;
  padding-top: 97px;
}

.footer-site__left-wrapper {
  width: 350px;
}

.footer-site__logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  line-height: 46px;
  /* 164.286% */
  letter-spacing: 0.56px;
  margin: 0;
  margin-bottom: 32px;
}
.footer-site__logo::before {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("../../images/footer-logo.png");
  background-repeat: no-repeat;
  background-position: left;
  margin-right: 8px;
  content: "";
}

.footer-site__aders {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.8px;
  color: #fff;
  margin: 0;
  margin-bottom: 24px;
}

.footer-site__bottom-text {
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.8px;
  color: #fff;
  opacity: 0.4;
  margin: 0;
  margin-top: 64px;
}

.strong {
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.8px;
}

.footer-site__right-wrapper {
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.footer-site__list {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.footer-site__list:first-child {
  margin-right: 76px;
}

.footer-site__item {
  margin-bottom: 16px;
}

.footer-site__strong-item {
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
  /* 150% */
  letter-spacing: 1px;
  margin-bottom: 32px;
}

.footer-site__bottom-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.8px;
  color: #fff;
  text-decoration: none;
}

.site-main__blog {
  margin-top: 42px;
  background: linear-gradient(254deg, #98D0FC 2.46%, #3481D7 93.24%);
  background-image: url("../../images/page-2-bg.png");
  background-position: center;
  background-repeat: no-repeat;
}

.blog__inner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.blog__title {
  margin-bottom: 16px;
  color: #FFF;
  text-align: center;
  font-size: 44px;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: 1.76px;
}

.blog__text {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.8px;
}

.site-main__search {
  padding-top: 56px;
  padding-bottom: 24px;
}

.search__input {
  display: block;
  width: 940px;
  margin-bottom: 56px;
  padding: 20px 72px 17px;
  border: 0;
  border-radius: 10px;
  background: #f4f4f4;
}

.search__input::-moz-placeholder {
  color: var(--Blue_01, #1F3F68);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.6;
}

.search__input::placeholder {
  color: var(--Blue_01, #1F3F68);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.6;
}

.search__form {
  position: relative;
}

.search__form::before {
  position: absolute;
  left: 24px;
  top: 16px;
  width: 24px;
  height: 24px;
  background-image: url("../../images/input-icon.svg");
  content: "";
  opacity: 0.6;
}

.search__popular {
  display: block;
  margin-bottom: 32px;
  color: var(--blue_03, #356EAD);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
}

.info {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-bottom: 33px;
}

.info__title {
  margin-bottom: 32px;
  color: var(--Blue_01, #1F3F68);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 1.92px;
}

.info__text {
  margin-bottom: 30px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
  opacity: 0.6;
}

.box {
  display: flex;
  -moz-column-gap: 98px;
       column-gap: 98px;
}

.box-left__name {
  margin-bottom: 4px;
  display: block;
  color: var(--Blue_01, #1F3F68);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.56px;
}

.box-left__time {
  color: var(--Blue_01, #1F3F68);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.56px;
  opacity: 0.6;
}

.box-right {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.search__list {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.card__img {
  margin-bottom: 16px;
}

.card__strong {
  display: block;
  margin-bottom: 16px;
  color: var(--Blue_01, #1F3F68);
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 1.12px;
}

.card__text {
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
}

.card .box-left__name {
  font-size: 13px;
}

.card .box-left__time {
  font-size: 12px;
}

.see-all {
  display: block;
  margin-top: 54px;
  margin-bottom: 24px;
  text-align: end;
  color: var(--blue_03, #356EAD);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}

.horizontal {
  display: block;
  width: 940px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.site-main__article {
  padding-top: 56px;
}

.span-article {
  display: block;
  margin-bottom: 32px;
  color: var(--blue_03, #356EAD);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
}

.article__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.item {
  margin-bottom: 32px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.item:last-child {
  margin-bottom: 56px;
}

.item__title {
  margin-bottom: 16px;
  color: var(--Blue_01, #1F3F68);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 1.12px;
}

.item__text {
  margin-bottom: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
}

.carusel {
  display: flex;
  justify-content: space-between;
}

.new {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
  color: var(--blue_03, #356EAD);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.64px;
}

.new::before {
  width: 18px;
  height: 18px;
  content: "";
  background-image: url(../../images/icon-left.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.old {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
  color: var(--blue_03, #356EAD);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.64px;
}

.old::after {
  width: 18px;
  height: 18px;
  content: "";
  background-image: url(../../images/icon-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}/*# sourceMappingURL=main.css.map */