.header-site {
  padding-top: 50px;
 
}
.header-site__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.hero {
  padding-top: 110px;
  background-image: url("../../images/hero-img.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 333px) calc(50% + 25px);
}

.hero__wrapper {
  width: 550px;
}
.hero__title {
font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 74px;
  /* 115.625% */
  letter-spacing: 0.56px;
  color: #1F3F68;
  margin: 0;
  margin-bottom: 32px;
}
.hero__text {
  font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: 0.8px;
    margin: 0;
    margin-bottom: 86px;
    padding-right: 50px;
}
.hero__link {
  font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    padding: 15px 48px;
    letter-spacing: 0.64px;
  border-radius: 10px;
  color: #fff;
    background-color: #5A98D0;
    box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.20);
    text-decoration: none;
}
.client {
padding-top: 180px;
padding-bottom: 180px;
}

.client__title {
  display: inline-block;
  width: 470px;
  color:  #316099;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    /* 127.778% */
    letter-spacing: 1.8px;
    margin-top: 0;
    margin-bottom: 158px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.client__list {
  // display: flex;
  
 
  list-style: none;
  width: 380px;
}

.client__item {
  width: 380px;
  border-radius: 10px;
    background: #FFF;
    /* shadow1 */
    box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.20);
    margin-bottom: 100px;
    padding: 48px;
}
.client__item-wrapper {
    width: 380px;
      border-radius: 10px;
      background: #FFF;
      /* shadow1 */
      box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.20);
      margin-bottom: 100px;
      margin-left: auto;
      padding: 48px;
}
.client__img {
width: 182px;
height: 132px;
margin-bottom: 56px;
padding-left: 26px;
}

.client__item-title {
  font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 150% */
    letter-spacing: 1px;
    color: #1F3F68;
    margin: 0;
    margin-bottom: 16px;
}

.client__text {
  font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: 0.8px;
    margin: 0;
    margin-bottom: 32px;
    color: #1F3F68;
}

.client__link {
  display: flex;
  align-items: center;
  font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 214.286% */
    letter-spacing: 0.7px;
    color: #5A98D0;
    text-decoration: none;
    &::after {
      display: block;
      width: 24px;
      height: 24px;
      background-image: url("../../images/icon-right.svg");
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 24px;
      content: "";
    }
}