
.our__wrapper-top {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.our__title {
  width: 255px;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    /* 127.778% */
    letter-spacing: 1.8px;
    margin: 0;
}

.our__text {
  width: 540px;
  font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: 0.8px;
    margin: 0;
    margin-left: 93px;
}

.our__wrapper-center {
  width: 935px;
  height: 424px;
  margin-bottom: 90px;
  border-radius: 10px;
  background-image: url("../../images/our-bgtop.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px;
}

.our__center-title {
  font-size: 28px;
  text-align: end;
    font-style: normal;
    font-weight: 500;
    line-height: 46px;
    /* 164.286% */
    letter-spacing: 1.4px;
    color: #fff;
    margin: 0;
    margin-bottom: 7px;
}

.our__center__text {
  font-size: 16px;
  text-align: end;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    /* 287.5% */
    letter-spacing: 0.8px;
    color: #fff;
    margin: 0;
}

.our__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
  margin: 0;

}

.our__item {
  width: 422px;
  height: 417px;
  background-image: url("../../images/uor-bgleft.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 32px;
}
.our__item:nth-child(2) {
  background-image: url("../../images/uor-bgright.png");
}

.our__item-title {
    font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 46px;
      /* 164.286% */
      letter-spacing: 1.4px;
      color: #fff;
      margin: 0;
}

.our__item-text {
  font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    /* 287.5% */
    letter-spacing: 0.8px;
    color: #fff;
    margin: 0;
}